.content {
    background: #363636;
    border-radius: 20px;
    position: relative;
    z-index: 1;
    min-height: 400px;
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;

    &_tabs_select {
        display: flex;
        // overflow-x: scroll;
        margin: 0 auto;
        width: max-content;
        justify-content: center;
        gap: 15px;
        border-bottom: 2px solid #202020;
        width: 100%;

        &_el {
            color: #858585;
            padding: 0 10px 10px;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                color: #fff;
            }

            &.selected {
                color: #fff;
            }
        }
    }

    &_tabs_selections {

        &_el {
            display: none;
            padding: 20px 20px;

            .single_mix {
                margin: 0 -40px 25px;
                padding-bottom: 5px;
                position: relative;
                min-height: 100px;
                .duration {
                    border: 1px solid #718585;
                    padding: 4px;
                    margin-left: 15px;
                    border-radius: 5px;
                    font-size: 12px;
                    position: absolute;
                    bottom: 63px;
                    z-index: 99999999999;
                    right: 15px;
                    transform: translateX(0);
                    background: #363636;
                }

                .current {
                    border: 1px solid #718585;
                    padding: 4px;
                    border-radius: 5px;
                    font-size: 12px;
                    position: absolute;
                    bottom: 63px;
                    z-index: 99999999999;
                    left: 15px;
                    -webkit-transform: translateX(0);
                    -ms-transform: translateX(0);
                    transform: translateX(0);
                    background: #363636;
                }

                h3 {
                    margin: 0 40px;
                    font-size: 15px;
                }

                .loader {
                    position: absolute;
                    top: 50px;
                    color: #ff1d1f;
                    text-align: center;
                    width: 100%;
                    z-index: 99999;
                }

            }

            p {
                margin-top: 0;
                margin-bottom: 25px;
                line-height: 20px;
            }

            &.selected {
                display: block;
            }
        }
    }
}